SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
0 7 * * * root python /app/script.py >> /var/log/cron.log 2>&1
18 17 * * * root python /app/script.py >> /var/log/cron.log 2>&1
